<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/entropics/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="entropics" />
			<add key="ClearTextPassword" value="%GITHUB_REGISTRY_PACKAGE_TOKEN%" />
		</github>
	</packageSourceCredentials>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
</configuration>